@import "~@EnvResources/styles/themes/default/theme.css";
:root {
	--color-main-light-b: #ffaaac;
	--color-main-light-a: #fc888a;
	--color-main-light: #fd6063;
	--color-main: #F55053;
	--color-main-dark: #ce4345;
	--color-main-dark-a: #822122;
	--color-accent-dark-a: var(--color-main-dark-a);
	--color-accent-dark: var(--color-main-dark);
	--color-accent: var(--color-main);
	--color-accent-light: var(--color-main-light);
	--color-accent-light-a: var(--color-main-light-a);
	--color-card-main-shadow: 0 1vmin 2vmin rgba(245, 80, 83, .2);
	--color-card-main-border: rgba(245, 80, 83, 0.25);
	--color-card-accent-shadow: 0 1vmin 2vmin rgba(245, 80, 83, .2);
	--color-card-accent-border: rgba(245, 80, 83, 0.25);
	--color-card-tip-shadow: 0 2vmin 4vmin 0 rgba(165, 133, 31, 0.2), 0 0 0 .1vmin rgba(251, 191, 0, .4);
}

md-button.alert {
	color: var(--color-button-background-light);
}

.card.tip {
	box-shadow: var(--color-card-tip-shadow);
}