.card {
    border-radius: .4em;
}

.partner-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    border-bottom: solid 2px transparent !important;
    transition: border .3s;
    overflow: hidden;
    position: relative;
}

.partner-card .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.partner-card .left .partner-logo {
    width: 48px;
    height: 48px;
    min-width: 48px;
    border-radius: 50%;
    background: rgba(116, 116, 116, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    position: relative;
    overflow: hidden;
}

.partner-card .left .partner-logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 104%;
    height: 104%;
}

.partner-card .left .partner-title {
    margin-left: 15px;
    font-size: 1.3em;
    margin-right: 25px;
}

.partner-card .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all .15s;
    position: absolute;
    right: 15px;
    bottom: 0;
    transform: translateY(-90%);
    will-change: transform;
}

.partner-card .right md-icon {
    margin: 2px;
}

.shown>.partner-card {
    border-bottom-color: var(--color-card-border) !important;
}

.shown>.partner-card .right {
    transform: translateY(100%);
}

.partner-card+.info-card {
    overflow: hidden;
    margin-top: 5px;
}

.partner-card .right-faker {
    position: absolute;
    right: 15px;
    top: 0;
    transition: all .15s;
    will-change: transform;
    transform: translateY(-100%);
}

.shown>.partner-card .right-faker {
    transform: translateY(100%);
}

.no-border {
    border: 0 !important;
}

.card.auth-card-with-bg {
    background-image: url("~@Resources/images/vector/css/auth_bg.svg");
    background-size: cover;
    background-position: center;
}

.login-box-center {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.login-box-center .center-box {
    margin: auto;
    text-align: center;
}

.login-box-center .bottom-box {
    display: flex;
    padding: 10px 20px 20px 10px;
    width: 100%;
    justify-content: space-between;
    max-width: 400px;
}

.login-box-center .center-box .auth-title {
    font-size: 8vmin;
    font-family: var(--font-accent);
    padding: 0 10px;
}

@media (min-width: 900px), (min-height: 900px) {
    .login-box-center .center-box .auth-title {
        font-size: 3em;
    }
}

.login-box-center .center-box .auth-title+md-button {
    margin: 4vmin 0;
    border-radius: 2em;
    font-size: 5vmin;
    padding: 2vmin 5vmin;
    margin-bottom: 0;
}

@media (max-width: 500px) {
    .login-box-center .bottom-box {
        font-size: 12px;
    }
    .login-box-center .center-box .auth-title+md-button {
        font-size: 7vmin;
        padding: 3vmin 7vmin;
    }
}

.dashboard-editor-cont {
    display: grid;
    column-gap: var(--size-block-gap);
    row-gap: var(--size-block-gap);
}

.dashboard-editor-scroller {
    padding: calc(var(--size-block-gap) * 2) 0;
    overflow: hidden;
    display: flex;
    max-width: 100%;
}



.setupframework-body {
    display: flex;
    flex-direction: column;
}

.setupframework-header {
    display: flex;
    padding: .5em;
}

.setupframework-header-text {
    display: flex;
    flex-direction: column;
    margin-left: .2em;
}

.setupframework-header-button {
    display: flex;
    width: 2.5em;
    height: 2.5em;
    transition: background .2s;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.setupframework-header-button:hover, .setupframework-header-button:focus {
    background: var(--color-radio-ripple-hover);
}

.setupframework-header-button:active {
    background: var(--color-radio-ripple);
}

.setupframework-header-text>div:nth-child(1) {
    font-family: var(--font-accent);
    font-size: 1.5em;
    margin-top: .2em;
}

.setupframework-header-text>div:nth-child(2) {
    font-size: .8em;
}

.setupframework-ui {
    position: relative;
}

.setup-choose-size-container {
    display: flex;
}

.setup-choose-size-card {
    flex-grow: 1;
    margin: 1vmin;
    padding: 3vmin 3vmin 1vmin 3vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    transition: background .2s;
    border-radius: .5em;
}

.setup-choose-size-card:hover, .setup-choose-size-card:focus {
    background: var(--color-card-shadow);
}

.setup-choose-size-card:active {
    background: var(--color-radio-ripple-hover);
}

.setup-choose-size-card>div:nth-child(2) {
    font-size: 1.2em;
    padding: .2em;
    font-family: var(--font-accent);
}