<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="<%= htmlWebpackPlugin.options.charset %>">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="preload" href=".assets/fonts/font.ttf" as="font" crossorigin="anonymous" />
    <link rel="apple-touch-icon" sizes="57x57" href=".assets/icons/ios/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href=".assets/icons/ios/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href=".assets/icons/ios/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href=".assets/icons/ios/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href=".assets/icons/ios/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href=".assets/icons/ios/touch-icon-iphone-6-plus.png">
    <link rel="apple-touch-icon" sizes="400x400" href=".assets/icons/ios/touch-icon-big.png">

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
</head>

<body>
    <noscript>mono PWA requires JavaScript to run</noscript>
</body>

</html>